@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '_var';
/* 전체 레이아웃 */

body,ul,li {margin: 0; padding: 0; font-size: 12px; font-family: "맑은 고딕", sans-serif;}
body{background-color: #d9c2b0; overflow-x: hidden;}
a {text-decoration: none; color: #ffffff;}
ul {list-style: none;}

.cf:after{content: ''; clear: both; display: block;}



#wrap{position: relative; margin: 0 auto; width: 100%; min-width: 1000px; margin: 0 auto;
	#localMenu{width: 100%; height: 30px; background: #fdfbfa;
		.inbicon{float: left; padding-left: 20px; margin-top: 4.5px;}
		.left_con{margin-left: 10px;}
		span{color: #666666;}
		.fav{
			img{float: right; margin: 6px 125px 0 0;}
			& > span{float: right; margin-right: -75px; margin-top: 5.5px;}
		}
		.insta{
			img{float: right; margin: 5px 100px 0 0;}
			span{float: right; margin-right: -94px; margin-top: 5.5px;}
		}
	}
	header{width: 100%; height: 120px; position: fixed; margin: 0 auto;	top: 0px; z-index: 1000; margin: 0 auto; overflow: hidden; margin-top: 30px;
		nav{
			h1{position: absolute; top: 12px; left: 50%; margin-left: -30px;
				a{padding: 0px 4px; opacity: 1;}
			}
			width: 100%; height: 120px; position: relative; margin: 0 auto; background: rgba(255,255,255,0.5);
			.fav{font-weight: bold;  color: #222222;}
			.menu{
				position: absolute; margin: 0 auto; top: 0px; left: 50%; margin-left: -700px; width: 100%;
				li{
					float: left; padding-right: 25px; margin-top: 73px;
					a{display: block; padding: 2px 4px; line-height: 42px; font-size: 1.3em; font-weight: bold; text-align: center; color: #9d9d9d; opacity: 1;
						&:hover{color: #ffffff;}
					}
				}
				li.first{margin-left: 330px;}
				.menu .on a{color: #ffffff; text-shadow: 0 0 20px #ffffff;}
			}
		}
	}
	#contents{width: 100%; margin: 0 auto; }
	#main{width: 100%; height: 1000px; position: relative; margin: 0 auto;
		/*.pLogo{left: 120px; top: 300px;}*/
		.me{left: 300px; top: 220px; display: none;}
		/*.main_bg img{opacity: 0.4;}*/
	}
	#profile{width: 100%; height: 1000px; position: relative; margin: 0 auto;
		h1{text-align:left; top: 100px; left: 50px; font-size:1.6em; display: block; z-index: 3;}
		img{top: 20%; left: 50%; margin-left: -100px;}
		#profile_name{
			position: absolute; top: 39%; left: 50%; margin-left: -107.075px;
			p{margin: 0 auto; text-align: center; font-size: 25px; letter-spacing: 4px;}
		}
		#tab{
			width: 1000px; height: 600px; position: relative; top: 44.5%; left: 50%; margin-left: -500px;
			ul{
				li ul{
					float: left;
					li{text-align: left; font-size: 1.3em; letter-spacing: -0.1em; margin: 0 50px 10px 30px;}
				}
				&.anchor{
					position: relative;
					li{
						float: left; line-height: 80px; float: left; background-color: #ece1d8; color: #333333; width: 250px; height: 75px; cursor: pointer; font-size: 2.5em; font-weight: bold; text-align: center;
						&.active{display: block; background: #777777;}
						img{margin-top: -10px;}
					}
				}
				&.panel{
					float: left; position: relative; height: 450px; width: 600px;
					li{width: 1000px; height: 270px; position: absolute;top: 0; left:0; display: none; background: rgba(255,255,255,0.15);
						&.list01{
							display: block;
							.list01_1{margin-left: 320px;}
							.list01_2{margin-left: -50px;}
						}
						&.list02{
							ul{margin-left: 350px; margin-top: 17px; float: left;}
						}
						&.list03{
							ul{margin-left: 310px; margin-top: 32px; float: left;}
						}
						h3{font-size: 2em; text-align: center; margin: 15px 0;  font-weight: normal;}
					}
				}
			}
		}
	}
	#css{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.css_tit{
			width:1350px; height:60px; color:#003040; margin:83px 25px;
			h1{text-align:left; margin:16px 0 0 22px; font-size:1.6em;}
		}
		span{position: absolute; bottom: 0px; right: 170px; color: rgba(255,252,255,0.25); font-size: 100px; font-weight: bold;}
		strong{font-size: 1.4em; color:#111111; left:0; text-decoration: underline;}
		#line1,#line2{top:22%; left:466px; width:2px; height:700px;}
		#line3{top:78%; left:50px; width:370px; height:1px; border-bottom:1px solid #C0EDE9;}
		.s_tit1{font-size:2.5em; top:17%; left:26.5%; font-family: $font_type3;}
		.s_tit2{@extend .s_tit1 ; left:63.5%; }
		.css01_bg{width:50%; height:1000px; left:0;}
		.css02_bg{width:50%; height:1000px; right:0;}
		#css_sub{
			top: 85%; left:13.1%; width: 400px; height: 160px; float: left; margin-left: 15px;
			#animate{width: 570px; height: 160px; float: left; margin-left:6px;
				li{cursor: pointer; display: inline;}
				.menu_image{overflow: hidden; float: left;
					a img{float: left;}
				}
				.text_image{float: left; overflow:hidden;
					.on{display: none;}
				}
			}
		}
		.sp1{margin-top: 12px;}
		#cssImg01,#cssImg02{position:absolute; top:20%; left:50%; margin-left: -170px;}
		#cssImg02{right:50%; margin-right: -170px;}
		#cssImg01>img, #cssImg02>img{position:relative;}
		#cssImg01>a, #cssImg02>a{position:absolute; top:4.3%; left:3.7%; width:417px; height:250px; overflow-x:hidden; overflow-y: scroll;}
		.css01_text{position: absolute; width: 300px; top:61.5%; left:26.5%;
			& > p{width: 450px;  margin: 0 auto; }
			& > img{position:relative; top:-30px; left:0;}
			& > span{padding-top: 15px; font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		}
		.css02_text{@extend .css01_text; left:11.5%;}
		.css03{width:300px; top:64%; left:71%;
			& > p{width:300px;  margin: 5px 0 0 55px; }
			& > img{position:relative; top:-30px; left:0;}
			& > span{font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		}
	}
	#jquery{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.jquery_tit{width:1350px; height:60px; color:#003040; margin:83px 25px; /* border-top:1px solid #DDDDDD; */
			 h1{text-align:left; margin:16px 0 0 22px; font-family: $font_type1; font-size:1.5em;}
		}
		#line1{top:22%; left:466px; width:2px; height:700px;}
		#line2{top:22%; right:466px; width:2px; height:700px;}
		#line3{top:78%; left:50px; width:370px; height:1px; border-bottom:1px solid #C0EDE9;}
		.s_tit1{font-size:2.5em; top:17%; left:26.5%; font-family: $font_type3;}
		.s_tit2{@extend .s_tit1; left:63.5%;}
		.jquery01_bg{width:50%; height:1000px; left:0; }
		.jquery02_bg{width:50%; height:450px; right:0px; margin-top: 200px;}
		.jquery02_text{position:absolute; width:540px; top: 20%; left: 50%; margin-left: -270px;
			&>p{width: 450px; text-align: justify;}
			&>img{position:relative; top:-30px; left:0;}
			&>strong{display: block; font-size: 33px; text-decoration: underline; padding-bottom: 30px;}
			&>span{padding: 8px 0; font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		}
		#jqueryImg01{position:absolute; top:25%; left:50%; margin-left: -270px;}
		#jqueryImg02{position:absolute; top:20%; left:11%;}
		#jqueryImg01>img,#jqueryImg02>img{position:relative;}
		#jqueryImg01>a{position:absolute; top:4.3%; left:3.7%; width:500px; height:300px; overflow-x:hidden; overflow-y: scroll;}
		#jqueryImg02>a{position:absolute; top:4.3%; left:3.7%; width:417px; height:250px; overflow-x:hidden; overflow-y: scroll;}
	}
	#jquery2{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.jquery2_tit{width:1350px; height:60px; color:#003040; margin:83px 25px;
			h1{text-align:left; margin:16px 0 0 22px; font-family: $font_type1; font-size:1.5em;}
		}
		#line1{top:22%; left:466px; width:2px; height:700px;}
		#line2{top:22%; right:466px; width:2px; height:700px;}
		#line3{top:78%; left:50px; width:370px; height:1px; border-bottom:1px solid #C0EDE9;}
		.s_tit1{font-size:2.5em; top:17%; left:26.5%; font-family: $font_type3;}
		.s_tit2{font-size:2.5em; top:17%; left:63.5%; font-family: $font_type3;}
		.jquery201_bg{width:50%; height:1000px; left:0; }
		.jquery202_bg{width:50%; height:450px; right:0px;  margin-top: 190px;}
		.jquery202_text{position:absolute; width:540px; top: 20%; left: 50%; margin-left: -270px;}
		.jquery202_text>p{width: 450px;  text-align: justify;}
		.jquery202_text>img{position:relative; top:-30px; left:0;}
		.jquery202_text>strong{display: block; font-size: 33px; text-decoration: underline; padding-bottom: 30px;}
		.jquery202_text>span{padding: 8px 0; font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		#jquery2Img01{position:absolute; top:25%; left:50%; margin-left: -270px;}
		#jquery2Img02{position:absolute; top:20%; left:11%;}
		#jquery2Img01>img,#jquery2Img02>img{position:relative;}
		#jquery2Img01>a{position:absolute; top:4.3%; left:3.7%; width:500px; height:300px; overflow-x:hidden; overflow-y: scroll;}
		#jquery2Img02>a{position:absolute; top:4.3%; left:3.7%;  width:417px; height:250px; overflow-x:hidden; overflow-y: scroll;}
	}
	#video{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.video_tit{width:1350px; height:60px; color:#003040; margin:83px 25px;
			h1{text-align:left; margin:16px 0 0 22px; font-family: $font_type1; font-size:1.5em;}
		}
		#line1{top:22%; left:466px; width:2px; height:700px;}
		#line2{top:22%; right:466px; width:2px; height:700px;}
		#line3{top:78%; left:50px; width:370px; height:1px; border-bottom:1px solid #C0EDE9;}
		.s_tit1{font-size:2.5em; top:17%; left:26.5%; font-family: $font_type3;}
		.s_tit2{@extend .s_tit1; left:63.5%;}
		.video01_bg{width:50%; height:1000px; left:0;}
		.video02_bg{width:50%; height:450px; right:0; margin-top: 200px;}
		.video02_text{position:absolute; width:540px; top: 20%; left: 50%; margin-left: -270px;
			&>p{width: 450px; text-align: justify;}
			&>img{position:relative; top:-30px; left:0;}
			&>strong{display: block; font-size: 33px; text-decoration: underline; padding-bottom: 30px;}
			&>span{padding: 8px 0; font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		}
		#videoImg01{position:absolute; top:25%; left:50%; margin-left: -270px;
			&>a{position:absolute; top:4.3%; left:3.7%; width: 500px; height: 300px; overflow-x:hidden; overflow-y: hidden;
				&>img{height: 300px; width: 500px;}
			}
		}
		#videoImg02{position:absolute; top:20%; left:11%;
			&>a{position:absolute; top:4.3%; left:3.7%; width:417px; height:250px; overflow-x:hidden; overflow-y: hidden;}
		}
		#videoImg01>img,#videoImg02>img{position:relative;}
	}
	#adaptive01{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.adaptive01_tit{width:1350px; height:60px; color:#003040; margin:83px 25px;
			h1{text-align:left; margin:16px 0 0 22px; font-family: $font_type1; font-size:1.5em;}
		}
		#line1{top:22%; left:466px; width:2px; height:700px;}
		#line2{top:22%; right:466px; width:2px; height:700px;}
		#line3{top:78%; left:50px; width:370px; height:1px; border-bottom:1px solid #C0EDE9;}
		.s_tit1{font-size:2.5em; top:17%; left:26.5%; font-family: $font_type3;}
		.s_tit2{@extend .s_tit1; left:63.5%;}
		.adaptive0101_bg{width:50%; height:1000px; left:0; }
		.adaptive0102_bg{width:50%; height:450px; right:0; margin-top: 200px;}
		.adaptive0102_text{position:absolute; width:540px; top: 20%; left: 50%; margin-left: -270px;
			&>p{width: 450px; text-align: justify;}
			&>img{position:relative; top:-30px; left:0;}
			&>strong{display: block; font-size: 33px; text-decoration: underline; padding-bottom: 30px;}
			&>span{padding: 8px 0; font-family: $font_type4; font-size:0.9em; color:#ffffff; font-weight:bold;}
		}
		#adaptive01Img01{position:absolute; top:25%; left: 50%; margin-left: -270px;
			&:hover{z-index: 10; transform: scale(1.1); transition: all 0.5s;}
			&>a>img{width: 485px;}
		}
		#adaptive01Img02{position:absolute; top:48.4%; left:2.5%;}
		#adaptive01Img03{position:absolute; top:45.8%; right:5%;}
		#adaptive01Img01>img,#adaptive01Img02>img,#adaptive01Img03>img{position:relative;}
		#adaptive01Img01>a{position:absolute; top:4.3%; left:3.7%; width:500px; height:300px; overflow-x:hidden; overflow-y: scroll;}
		#adaptive01Img02>a{position:absolute; top:3.6%; left:9.9%; width:260px; height:196px; overflow-x:hidden; overflow-y: hidden;}
		#adaptive01Img03>a{position:absolute; top:16.3%; left:7%; width:120px; height:158.5px; overflow-x:hidden; overflow-y: hidden;}
	}
	#epilogue{width: 100%; height: 1000px; position: relative; margin: 0 auto; overflow: hidden;
		.epilogue_tit{width:1350px; height:60px; color:#003040; margin:83px 25px; /* border-top:1px solid #DDDDDD; */
			h1{text-align:left; margin:16px 0 0 22px; font-family: $font_type1; font-size:1.5em;}
		}
		& > img {left: 3.5%; top: 15%;}
		.epilogueBox {left: 3.5%; top: 24%; width: 93%; height: 60%;
			.epilogueText {position: absolute; left: 62%; top: 10%; width: 30%; height: 90%;
				&> span{margin-top: 20px; display: block; font-size: 1.6em; font-weight: bold; color: #666666;
					@include selection(#ff0000);
				}
				p{margin-top: 30px; font-size: 1.2em; text-align: justify; color: #555555; line-height: 1.3;}
			}
			.epilogueText01{
				p{
					@include selection(#ff0000);
				}
			}
			.epilogueImg{margin-top: 10px;}
		}
	}
	#main>*, #profile > *, #css>*, #jquery>*, #jquery2>*, #video>*, #adaptive01>*, #adaptive02>*,  #epilogue>*{position: absolute;}
	#footer{width: 100%; height: 300px; background: #ece1d8;
		p{text-align: center; font-size: 45px;
			&.f_txt1{padding-top: 85px;}
		}
	}
}
#floatdiv{position: absolute; top: 250px; right: 30px;
	ul{list-style: none; border: 0; padding: 0;
		li{list-style: none; border: 0; margin: 0; padding: 0;
			span{margin: 0 0 5px 0; cursor: pointer; display: block; width: 40px; height: 40px; background: url(../images/bbar.png) no-repeat;}
			&:hover span{background: url(../images/bbar_on.png) no-repeat;}
			&.active span{background: url(../images/bbar_on.png) no-repeat;}
		}
	}
}
/*codepen*/
.text-container {
  width: 500px;
  position: absolute;
  top: 440px;
  left: 850px;
  // top: 320px;
  // left: 620px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #777777;
  font-family: $font_type2;
  letter-spacing: -5px;
  font-size: 80px;
  /* text-shadow: 3px 3px 1px #000000; */

  -webkit-font-smoothing: antialiased;
  text-align: center;
}

span {
  display: inline-block;
}

.reg-text {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
  transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
  transition: transform 3.33333s ease-out, opacity 5s ease;
  transition: transform 3.33333s ease-out, opacity 5s ease, -webkit-transform 3.33333s ease-out;
}
.reg-text.loaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.letter {
  -webkit-transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.letter:nth-of-type(2) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}
.letter:nth-of-type(3) {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
  -webkit-transition-duration: 3.84615s;
          transition-duration: 3.84615s;
}
.letter:nth-of-type(4) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition-duration: 3.33333s;
          transition-duration: 3.33333s;
}
.letter:nth-of-type(5) {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}
.letter:nth-of-type(6) {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
  -webkit-transition-duration: 2.17391s;
          transition-duration: 2.17391s;
}
.letter.loaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.text-container2{position: absolute; top: 60%; left: 44%;}
.text-container2 h1{font-weight: 100; font-size: 40px; color: #fff;}
